<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body >
    <nav>
        <div id="navl">
            <h1>Khaatabook</h1>
        </div>
        <div id="navr">
            <a href="/">Home</a>
            <a href="/createsec">Create New Hisaab</a>
        </div>
    </nav>
    <% if (files && files.length > 0) { %>
        <h2>All Hisaab Kitaab</h2>
        <div class="wrapper">
            <% files.forEach((file) => { %>
                <div class="hisab">
                    <div class="hisab-l">
                        <h3><%= file %></h3>
                        <a id="arrow" href="/show/<%= file%>">  <i class="ri-arrow-right-line"></i></a>
                    </div>
                <div class="hisab-r">
                    <a  id="edit" href="/edit/<%= file %>"><i class="ri-pencil-line"></i></a>
                    <a  id="delete" href="/delete/<%= file %>"><i class="ri-delete-bin-line"></i></a>
                </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No files available.</p>
    <% } %>
</body>
</html>