
  /* src/styles/custom.css */

  

  @media (min-width: 1000px) {
    .red-effect2::after {
      content: '';
      display: flex;
      width: 0.2vw;
      height: 4vh;
      border-radius: 20px;
      position: absolute;
      top: 20%;
      right: 0;
      background-color: red;

    }

    .btext::before{
      content: '';
      display: flex;
      flex-grow: 1;
      height: 0;
      border-top: 1px dotted gray;
    }

    .btext::after{
      content: '';
      display: flex;
      flex-grow: 1;
      height: 0;
      border-top: 1px dotted rgba(188, 185, 185, 0.668);
      
    }
}
